## Q1 - sqlite3

In [1]:
import sqlite3

conn=sqlite3.connect('lab6.db')
print('Database connected successfully')

conn.execute(''' CREATE TABLE IF NOT EXISTS STUDENT
                    (REGNO INT PRIMARY KEY  NOT NULL,
                    NAME   TEXT   NOT NULL,
                    AGE  INT NOT NULL,
                    DEPT  TEXT ,
                    GPA  REAL);''')

print('Table created successfully')

conn.execute("INSERT INTO STUDENT\
             VALUES (336, 'Gautam',20,'ICT',9.09)");

conn.execute("INSERT INTO STUDENT\
             VALUES (192, 'Sourav',19,'ECE',8.86)");

conn.execute("INSERT INTO STUDENT\
             VALUES (160, 'Abhijith',21,'CSE',9)");

conn.execute("INSERT INTO STUDENT\
             VALUES (182, 'Ankush',18,'ICT',9.41)");

conn.execute("INSERT INTO STUDENT\
             VALUES (062, 'Shreyas',20,'MTE',8.50)");

c=1

 

while c:

 

    menu=int(input("MAIN MENU\n1)Insert new row \n2)View all rows \n3)Update specific record\
                   \n4)Delete specific record \n5) Exit\n"))

 

    if menu==1:
        n=int(input("How many rows do you wanna enter?"))

 

        for i in range(n):
            regno=int(input("Enter Registration No. : "))
            name=(input('Enter Name: '))
            age=int(input('Enter Age: '))
            dept=input('Enter Department: ')
            gpa=float(input('Enter GPA: '))
            insert_query=f"INSERT INTO STUDENT\
            VALUES ({regno},'{name}',{age},'{dept}',{gpa})"
            conn.execute(insert_query)
            conn.commit()

        
    elif menu==2:
        db=conn.execute("SELECT * FROM STUDENT ")
        for i in db:
             print("REGNO= ",i[0])
             print("NAME= ",i[1])
             print("AGE= ",i[2])
             print("DEPT= ",i[3])
             print("GPA= ",i[4],"\n")

    elif menu==3:
        regno2=int(input("Enter Registration No. : "))
        what=input('Enter column to be updated: ')
        new_value=input('Enter new value for specified column: ')
        update_query=f"UPDATE STUDENT SET '{what}'='{new_value}' WHERE REGNO={regno2}"
        conn.execute(update_query)
        conn.commit()

    elif menu==4:
        regno3=int(input('Enter regno to be deleted: '))
        delete_query=f"DELETE FROM STUDENT WHERE REGNO = {regno3}"
        conn.execute(delete_query)
        print('record deleted')
        conn.commit()

    else:
        print('Program Terminated')
        c=0

Database connected successfully
Table created successfully
MAIN MENU
1)Insert new row
2)View all rows
3)Update specific record
4)Delete specific record
5) Exit
1
How many rows do you wanna enter?1
Enter Registration No. : 145
Enter Name: Saurabh
Enter Age: 21
Enter Department: MTE
Enter GPA: 8.68
MAIN MENU
1)Insert new row
2)View all rows
3)Update specific record
4)Delete specific record
5) Exit
2
REGNO=  336
NAME=  Gautam
AGE=  20
DEPT=  ICT
GPA=  9.09

REGNO=  192
NAME=  Sourav
AGE=  19
DEPT=  ECE
GPA=  8.86

REGNO=  160
NAME=  Abhijith
AGE=  21
DEPT=  CSE
GPA=  9.0

REGNO=  182
NAME=  Ankush
AGE=  18
DEPT=  ICT
GPA=  9.41

REGNO=  62
NAME=  Shreyas
AGE=  20
DEPT=  MTE
GPA=  8.5

REGNO=  145
NAME=  Saurabh
AGE=  21
DEPT=  MTE
GPA=  8.68

MAIN MENU
1)Insert new row
2)View all rows
3)Update specific record
4)Delete specific record
5) Exit
3
Enter Registration No. : 145
Enter column to be updated: dept
Enter new value for specified column: MECH
MAIN MENU
1)Insert new row
2)View all rows
3)Update specific record
4)Delete specific record
5) Exit
2
REGNO=  336
NAME=  Gautam
AGE=  20
DEPT=  ICT
GPA=  9.09

REGNO=  192
NAME=  Sourav
AGE=  19
DEPT=  ECE
GPA=  8.86

REGNO=  160
NAME=  Abhijith
AGE=  21
DEPT=  CSE
GPA=  9.0

REGNO=  182
NAME=  Ankush
AGE=  18
DEPT=  ICT
GPA=  9.41

REGNO=  62
NAME=  Shreyas
AGE=  20
DEPT=  MTE
GPA=  8.5

REGNO=  145
NAME=  Saurabh
AGE=  21
DEPT=  MECH
GPA=  8.68

MAIN MENU
1)Insert new row
2)View all rows
3)Update specific record
4)Delete specific record
5) Exit
4
Enter regno to be deleted: 145
record deleted
MAIN MENU
1)Insert new row
2)View all rows
3)Update specific record
4)Delete specific record
5) Exit
2
REGNO=  336
NAME=  Gautam
AGE=  20
DEPT=  ICT
GPA=  9.09

REGNO=  192
NAME=  Sourav
AGE=  19
DEPT=  ECE
GPA=  8.86

REGNO=  160
NAME=  Abhijith
AGE=  21
DEPT=  CSE
GPA=  9.0

REGNO=  182
NAME=  Ankush
AGE=  18
DEPT=  ICT
GPA=  9.41

REGNO=  62
NAME=  Shreyas
AGE=  20
DEPT=  MTE
GPA=  8.5

MAIN MENU
1)Insert new row
2)View all rows
3)Update specific record
4)Delete specific record
5) Exit
5
Program Terminated